html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

address {
    font-style: normal;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    margin: 0;
    padding: 0;
    color: #161616;
}

header {
    margin: 0;
    padding: 0;
}

p,
img,
section,
div,
li,
ul,
header {
    margin: 0;
    padding: 0;
}

.green {
    color: #219653;
}

.header {
    height: 100px;
    margin-top: 10px;
}



.header-content {
    display: flex;
    margin: auto 0px;
    align-items: center;
    font-size: 20px;
    margin-top: -8px;
}

.header-logo {
    margin: 0 53px;
}


.nav-list {
    display: flex;
}

.header-li {
    margin-right: 40px;
}

.header-li:last-child {
    margin-right: 0px;
}


.header-contacts {
    display: flex;
    margin-left: 333px;

}

.header-contact {
    margin-right: 41px;

}

.header-contact a {
    color: #161616;
}

.header-contact:last-child {
    margin-right: 50px;
}

.header-button {
    margin-left: auto;
}


.button-header {
    background-color: #E1FFEE;
    border: solid 0px;
    color: #219653;
    height: 100px;
    width: 246px;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.burger {
    position: relative;
    cursor: pointer;
    display: none;
    margin: 25px;
    margin-top: 20px;
}

.header-burger {

    font-size: 0;
    color: transparent;
    width: 18px;
    background-color: #161616;
    height: 2px;

}

.header-burger::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    left: 0px;
    top: 7px;
    margin: 0px;
    background-color: #161616;
}

.show-house {
    display: flex;
    margin-top: -3px;
}

.title-house {
    margin-left: 90px;
    margin-top: 78px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 130%;
}

.description-house {
    margin-left: 90px;
    margin-top: 25px;
    width: 420px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
}

.house-img {
    margin-left: 0px;
    margin-top: 4px;
    max-width: 70.666666666666666%;
}

.house-info-img {
    margin-top: 91px;
}

.chill-content {
    display: flex;
    flex-wrap: wrap;
}

.chill-info-1 {
    max-width: 440px;
    margin-left: 90px;
    margin-top: 68px;
}

.chill-info-2 {
    max-width: 580px;
    margin-top: 69px;
    margin-left: 90px;
    padding-right: 73px;
}

.chill-container {
    margin-top: 2px;
}

.chill-img {
    margin-top: -4px;
}

.title-chill {
    font-weight: 500;
    font-size: 64px;
    line-height: 130%;
}

.description-chill {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin-top: 25px;
}

.chill-button {
    border: 2px solid #219653;
    box-sizing: border-box;
    border-radius: 65px;
    background-color: white;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #219653;
    cursor: pointer;
}

.chill-button-pos {
    margin-top: 50px;
    margin-left: 0px;
}

.chill-button-2 {
    border: 2px solid #219653;
    box-sizing: border-box;
    border-radius: 65px;
    background-color: white;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #219653;
    margin-top: 49px;
    margin-left: 0px;
    cursor: pointer;
}

.text-chill-button {
    margin: 30px 35px;
}

.chill-img-2 {
    margin-top: -3px;
    margin-left: 17px;
    width: 60.97%;
}

.features-content {
    display: flex;
    flex-wrap: wrap;
}

.features-container:hover .show-place-features {
    opacity: 1;
}

.features-container {
    width: 33.33333333%;
    height: 420px;
    position: relative;
    overflow: hidden;
}

.features-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+75,000000+100&0+36,0.5+75,0.5+75,0.6+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0);
    /* IE6-9 */
}

.features-text {
    width: 381px;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    z-index: 0;
    bottom: -6px;
    left: 50.1739%;
    top: 84.6%;
    transform: translate3d(-50%, -50%, 0);
}

.show-place-features {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #E1FFEE;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s linear;
}

.show-place-features-content {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    top: 50.4%;
    left: 47.1%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.show-place-features p {
    max-width: 140px;
    color: #219653;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
}


.arrow-img {
    position: absolute;
    top: 65%;
    left: 71%;
}

.house-features {
    margin-top: -5px;
}

.show-place-features-last {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #E1FFEE;
    top: 0;
    z-index: 2;
    opacity: 1;
    transition: opacity .2s linear;
    color: #219653;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
}

.show-place-features-text-last {
    max-width: 140px;
}

.arrow-img-last {
    position: absolute;
    top: 65%;
    left: 71%;
}

.house-price-prewiev-content {
    display: flex;
}

.house-price-prewiev-title {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 130%;
    color: #161616;
    margin-top: 75px;
    margin-left: 90px;
}

.house-price-prewiev-description {
    max-width: 597px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #161616;
    margin-top: 27px;
    margin-left: 90px;
}

.p-house-prewiev {
    margin-top: 25px;
}

.p-house-prewiev-first {
    margin-top: -1px;
}

/*! house price begin */

.house-price {
    margin-top: -2px;
}

.house-price-content {
    display: flex;
    flex-wrap: nowrap;
}


.house-price-info {
    width: 45%;
    margin-left: 90px;
    margin-top: 74px;
    padding-right: 5px;
}

.house-price-info-img {
    width: 50%;
    margin-top: -1px;
    position: relative;
    pointer-events: none;
    clear: right;
    scale: 1;
    margin-bottom: -2px;
    margin-right: 0px;
}

.house-price-info-img-hiden {
    overflow: hidden;
}


.house-price-info-title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 130%;
    color: #161616;
}

.house-price-info-characteristic {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #219653;
    margin-top: 30px;
}

.house-price-info-list-ul {
    display: flex;
}

.house-price-info-list-li {
    list-style-type: disc;
    margin-right: 51px;
    padding-left: 18px;
    text-align: left;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    margin-top: 33px;
}

.house-price-info-list-li::marker {
    color: #219653;
}

.house-price-info-list-li:first-child {
    list-style-type: none;
    padding-left: 0px;
}

.house-price-info-text {
    max-width: 780px;
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #161616;
}

.house-price-info-button {
    display: flex;
    margin-top: 49px;
    margin-left: 0px;
}

.house-price-info-price {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 38px;
    color: #161616;
    margin-left: 35px;
    margin-top: 26px;
}

.house-price-info-unit {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #161616;
    margin-top: 34px;
    margin-left: 7px;
}


.house-price-img-container-mini {
    position: absolute;
    top: 92.4%;
    left: 50.2%;
    display: flex;
    transform: translate(-50%, -50%);
    width: 545px;
    justify-content: center;
}

.house-price-img-mini {
    margin: 0 10px;
    transition: scale .2s linear;
}

.house-price-img-mini:hover {
    scale: 1.5;
}

.house-price-info-prew-unit {
    margin-top: 33px;
    margin-right: -30px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #161616;
}

.last-two-element-price {
    margin-top: 25px;
}

.house-price-info-prew-unit-last {
    margin-left: 37px;
    margin-right: -33px;
}

.show-place-img {
    margin-top: -1px;
}

.showplace-content {
    display: flex;
    flex-wrap: nowrap;
}

.showplace-info {
    margin: 75px 75px 90px 90px;
    width: 30%;
}

.showplace-title {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 130%;
    color: #161616;
}

.showplace-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin-top: 25px;

}

.showplace-text p {
    margin-top: 25px;
}

.delete-top-margin {
    margin-top: -5px;
}

.show-place-img-2 {
    margin-top: -5px;
    margin-left: 2px;
    height: 532px;
}

.showplace-img-container {
    width: 100%;
    display: flex;

}

.showplace-mini-img {
    width: 33.3333333333333%;
}

.show-place-title-p {
    margin-top: -1.4px;
}

.comments-content-title {
    font-weight: 500;
    font-size: 64px;
    line-height: 23px;
    color: #161616;
}

.comments {
    margin-top: 102px;
    margin-left: 180px;
}

.comments-content-title {
    margin-bottom: 81px;
}


.comments-user-grade {
    max-width: 170px;
}

.comments-content-user {
    display: flex;
    margin-bottom: 70px;
}

.comments-content-stars {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-top: 5px;
    margin-left: 8px;
}

.comments-content-star {
    margin: 0 6px;
}

.comments-content-star:last-child {
    margin-right: 0px;
}

.commetns-user-name-and-date {
    display: flex;
}

.comments-user-text-content {
    margin-left: 50px;
}

.comments-user-name {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 23px;
    margin-top: 9.5px;
}

.comments-user-date {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #434343;
    margin-top: 15px;
    margin-left: 30px;
}

.comments-user-text {
    max-width: 1520px;
    margin-top: 25px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #161616;
}

.geolocation {
    margin-left: 191px;
    margin-top: 120px;
    max-width: 1740px;
}

.geolocation-content {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #161616;
}

.geolocation-number a {
    color: #161616;
}

.geolocation-title {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 23px;
    color: #161616;
}

.geolocation-info {
    display: flex;
    margin-top: 64px;
}

.geolocation-number {
    margin-right: 45px;
}

.geolocation-street {
    margin-left: 25px;
    margin-right: 70px;
}

.geolocation-map {
    max-width: 1740px;
    margin-top: 54px;
}

.geolocation-messenger {
    display: flex;
    justify-content: space-between;
}

.geolocation-messenger p {
    margin-top: 70px;
}

.geolocation-messenger-ico {
    display: flex;
    margin-top: 62px;
}

.geolocation-messenger-ico img {
    margin: 0 25px;
}

.geolocation-messenger-ico img:last-of-type {
    margin-right: 0px;
}

/* @media */

@media (max-width: 1920px) {
    .header-logo {
        margin-top: 4px;
    }

    .header-content {
        margin-top: -9px;
    }

    .header-contacts {
        margin-left: 333px;
    }

    .header-contact {
        margin-right: 41px;
    }

    .header-button {
        text-align: right;
    }

    .button-header {
        width: 230px;
    }

    .header-contact:last-child {
        margin-right: 0px;
    }

    .button-header a {
        margin-left: 19px;
    }

    .button-header {
        height: 99px;
    }

    .body-content {
        margin-top: -5px;
    }

    .house-price-info {
        width: 46%;
        margin-left: 90px;
    }

    .house-price-info-img {
        width: 50%;
        margin-right: 0px;
        margin-top: -1px;
    }

    .house-price-img-margin-right {
        margin-right: 0px;
    }

    .house-price-overflow {
        overflow: hidden;
    }

    .house-price-info-padding {
        padding-left: 8px;
    }

    .showplace-info {
        margin: 77px 50px 75px 90px;
    }

    .show-place-img {
        margin-top: -2px;
    }

    .show-place-img-2 {
        /* margin-top: -4px;
        padding-left: 20px; */
        background-image: url(img/show-place/img-2.jpg);

        background-position: center center;
        background-size: cover;
        margin-left: 36px;
        margin-top: -3px;
        background-repeat: no-repeat;
        height: 532px;
        width: 1170px;
    }

    .display-none {
        display: none;
    }

    .showplace-title-margin-top {
        margin-top: 73px;
    }

    .comments {
        margin-top: 102px;
        margin-left: 90px;
    }

    .comments-content-user {
        margin-bottom: 68px;
    }

    .comments-content-stars {
        margin-top: 7px;
    }

    .geolocation {
        margin-left: 90px;
        margin-top: 116px;
        max-width: 1740px;
    }

    .geolocation-info {
        margin-top: 65px;
    }

    .geolocation-messenger p {
        margin-top: 71px;
    }
}

@media (max-width: 1814px) {
    .header-contacts {
        margin-left: 100px;
    }

    .header-button {
        margin-left: auto;
    }

    .house-img {

        max-width: 66.66666666666666666%;
    }

    .house-info-img {
        max-width: 33.333333333333333333333%;
    }
}

@media (max-width: 1684px) {
    .header-contacts {
        margin-left: 50px;
    }

    .header-contact {
        margin-right: 25px;
    }
}

@media (max-width: 1618px) {
    .header-content {
        font-size: 16px;
    }

    .button-header {
        font-size: 16px;
    }
}

@media (max-width: 1432px) {
    .header-content {
        font-size: 14px;
    }

    .button-header {
        font-size: 14px;
    }
}

@media (max-width: 1339px) {
    .header-content {
        justify-content: space-between;
    }

    .header-logo {
        margin: 0 25px;
    }

    .header-button {
        margin-left: 0;
    }

    .header-nav {
        display: none;
    }

    .header-contacts {
        display: none;
    }

    .burger {
        display: block;
    }

    .header {
        max-width: 100%;
        height: 75px;
    }

    .button-header {
        width: 700px;
        height: 65px;
    }

    .house-img {
        max-width: 66.666666666%;
        height: 760px;
        margin-top: 5px;
        position: relative;
    }

    .house-img img {
        position: absolute;
        left: -100px;
    }

    .button-header a {
        margin-left: 0;
    }
}

@media (max-width: 1050px) {
    .button-header {
        width: 500px;
    }

    .house-img img {
        left: -400px;
    }
}

@media (max-width: 940px) {
    .show-house {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column-reverse;
    }

    .house-img {
        margin-top: -4px;
        max-width: 100%;
        overflow: hidden;
        position: static;
    }

    .house-info-img {
        max-width: 100%;
    }

    .house-img img {
        position: static;
    }

    .house-info {
        display: flex;
        flex-flow: column-reverse;
    }

    .title-house {
        margin-top: 0px;
    }

    .house-info-img {
        margin-top: 0px;
    }

    .house-info-main {}

    .house-info-img img {
        width: 100%;
    }

    .house-info-center {
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .title-house {
        margin-left: 0px;
        font-size: 30px;
        line-height: 42px;
        margin-top: 36px;
    }

    .description-house {
        margin-left: 0px;
        font-size: 18px;
        width: 300px;
        line-height: 29px;
        margin-top: 15px;
    }
}

@media (max-width: 825px) {
    .button-header {
        width: 350px;
    }

    .house-img {
        position: relative;
    }

    .house-img img {
        position: absolute;
        left: -400px;
    }
}

@media (max-width: 500px) {
    .button-header {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .button-header {
        width: 205px;
    }
}

@media (max-width: 360px) {
    .house-img {
        height: 500px;
    }

    .house-img img {
        left: -480px;
        top: -125px;
        scale: 0.7;
    }

    .house-info-img {
        scale: 0.9;
        margin-left: -114px;
        margin-top: -15px;
    }

    .house-info-img img {
        width: 172%;
    }

    .house-info-center {
        margin-left: 24px;
    }
}